<template>
  <div>
    <div class="basic-header" :class="scrollPosition > '200' ? 'sticked' : ''">
      <div class="b-h-content">
        <h1 class="main-title">
          <router-link tag="button" class="btn btn-sm btn-primary pull-left" :to="{ name: 'users'}">
            <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back to users
          </router-link>
          Create user
        </h1>
      </div>
    </div>
    <h1 class="main-title">
    </h1>
    <div class="page-content-wrapper">

    <form class="form-horizontal" @submit.prevent="validateBeforeSubmit">

      <h2 class="page-title">Please fill the form <i class="fa fa-pencil" aria-hidden="true"></i></h2>

      <div class="form-group required" :class="{'has-error' : errors.has('age')}">
          <label class="col-sm-2 control-label">Age</label>
          <div class="col-sm-10">
              <input name="age" v-model="user.age" v-validate:age.initial="'required|numeric'" class="form-control" type="text" placeholder="Age">
              <span v-show="errors.has('age')" class="help-block"><i class="fa fa-warning"></i> {{ errors.first('age') }}</span>
          </div>
      </div>

      <div class="form-group required" :class="{'has-error' : errors.has('name')}">
          <label class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
              <input name="name" v-model="user.name" v-validate:name.initial="'required'" class="form-control" type="text" placeholder="Name">
              <span v-show="errors.has('name')" class="help-block"><i class="fa fa-warning"></i> {{ errors.first('name') }}</span>
          </div>
      </div>

      <div class="form-group required" :class="{'has-error' : errors.has('surname')}">
          <label class="col-sm-2 control-label">Surname</label>
          <div class="col-sm-10">
              <input name="surname" v-model="user.surname" v-validate:surname.initial="'required'" class="form-control" type="text" placeholder="Surname">
              <span v-show="errors.has('surname')" class="help-block"><i class="fa fa-warning"></i> {{ errors.first('surname') }}</span>
          </div>
      </div>

      <div class="form-group required" :class="{'has-error' : errors.has('email')}">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input name="email" v-model="user.email" v-validate:email.initial="'required|email'" class="form-control" type="text" placeholder="Email">
          <span v-show="errors.has('email')" class="help-block"><i class="fa fa-warning"></i> {{ errors.first('email') }}</span>
        </div>
      </div>

      <div class="form-group required" :class="{'has-error' : errors.has('gender')}">
        <label class="col-sm-2 control-label">Gender</label>
        <div class="col-sm-10">
          <div class="radio">
            <label>
              <input v-model="user.gender" type="radio" v-validate="'required|in:male,female'" name="gender" value="male"> Male
            </label>
          </div>
          <div class="radio">
            <label>
              <input v-model="user.gender" type="radio" name="gender" value="female"> Female
            </label>
          </div>
          <span v-show="errors.has('gender')" class="help-block"><i class="fa fa-warning"></i> {{ errors.first('gender') }}</span>
        </div>
      </div>

        <div class="form-group" :class="{'has-error' : errors.has('company')}">
            <label class="col-sm-2 control-label">Company</label>
            <div class="col-sm-10">
                <input name="company" v-model="user.company" v-validate:company.initial="''" class="form-control" type="text" placeholder="Company">
                <span v-show="errors.has('company')" class="help-block"><i class="fa fa-warning"></i> {{ errors.first('company') }}</span>
            </div>
        </div>

        <div class="form-group" :class="{'has-error' : errors.has('phone')}">
            <label class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-10">
                <input name="phone" v-model="user.phone" v-validate:phone.initial="'numeric'" class="form-control" type="text" placeholder="Phone">
                <span v-show="errors.has('phone')" class="help-block"><i class="fa fa-warning"></i> {{ errors.first('phone') }}</span>
            </div>
        </div>

        <div class="form-group" :class="{'has-error' : errors.has('street')}">
            <label class="col-sm-2 control-label">Adress</label>
            <div class="col-sm-10">
                <input name="street" v-model="user.address.street" v-validate:address.initial="''" class="form-control" type="text" placeholder="Street">
                <span v-show="errors.has('street')" class="help-block"><i class="fa fa-warning"></i> {{ errors.first('street') }}</span>
            </div>
        </div>

        <div class="form-group" :class="{'has-error' : errors.has('city')}">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input name="city" v-model="user.address.city" v-validate:address.initial="''" class="form-control" type="text" placeholder="City">
                <span v-show="errors.has('city')" class="help-block"><i class="fa fa-warning"></i> {{ errors.first('city') }}</span>
            </div>
        </div>

        <div class="form-group" :class="{'has-error' : errors.has('state')}">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input name="state" v-model="user.address.state" v-validate:address.initial="''" class="form-control" type="text" placeholder="State">
                <span v-show="errors.has('state')" class="help-block"><i class="fa fa-warning"></i> {{ errors.first('state') }}</span>
            </div>
        </div>

        <div class="form-group" :class="{'has-error' : errors.has('zipcode')}">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input name="zipcode" v-model="user.address.zipcode" v-validate:address.initial="'numeric'" class="form-control" type="text" placeholder="Zipcode">
                <span v-show="errors.has('zipcode')" class="help-block"><i class="fa fa-warning"></i> {{ errors.first('zipcode') }}</span>
            </div>
        </div>

        <div class="form-group" :class="{'has-error' : errors.has('about')}">
            <label class="col-sm-2 control-label">About</label>
            <div class="col-sm-10">
                <input name="about" v-model="user.about" v-validate:about.initial="''" class="form-control" type="text" placeholder="About">
                <span v-show="errors.has('about')" class="help-block"><i class="fa fa-warning"></i> {{ errors.first('about') }}</span>
            </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10 text-center">
            <button type="submit" class="btn btn-success active">Submit <i class="fa fa-check" aria-hidden="true"></i></button>
          </div>
        </div>
      </form>

  </div>
  </div>
</template>

<script>
import { alertEvents } from '../main.js';

export default {
  data() {
    return {
      user: {
        id: '',
        age: '',
        name: '',
        surname: '',
        gender: '',
        company: '',
        email: '',
        phone: '',
        address: {
          street: '',
          city: '',
          state: '',
          zipcode: ''
        },
        about: '',
        registered: ''
      },
      scrollPosition: 0
    }
  },
  methods: {
    validateBeforeSubmit() {
      this.$validator.validateAll().then(success => {
        if (! success) {
          return;
        }
        let gender = this.user.gender.toLowerCase();
        this.user.gender = gender;
        this.user.registered = new Date();
        this.formSubmitted = true;
        this.submit();
      });
    },
    submit() {
     this.$http.post('users', this.user)
      .then(response => {
        alertEvents.$emit('alertCalled', 'Great!', 'User created', 3000);
        this.$router.push({ name: 'userViewPage', params: {id: response.body.id} });
      }, error => {
        console.log(error);
        this.$router.push({ name: '404' })
        alertEvents.$emit('alertCalled', 'Sorry', error.statusText);
      });
    },
  }
}

</script>

<style lang="scss">
</style>
