<template>
  <div class="users-list-page col-lg-12" :class="[userSelected === '' ? '' : 'user-details-open']">
    <div class="basic-header" :class="scrollPosition > '200' ? 'sticked' : ''">
      <div class="b-h-content">
        <h1 class="main-title">
          <router-link tag="button" class="btn btn-sm  active btn-success pull-right" :to="{ name: 'userCreate'}">
            Create user <i class="fa fa-plus-circle" aria-hidden="true"></i>
          </router-link>
          Users
        </h1>
      </div>
    </div>
    <div class="users-list">
      </h1>
      <div v-if="usersCount > 0">
        <gm-user @changeSelected="userSelected = $event" v-for="user in users" :user="user"></gm-user>
        <infinite-loading :on-infinite="loadUsers" ref="Loading">
          <span slot="no-more">
            <div class="no-more-users">
              <p>No more users</p>
              <router-link :to="{ name: 'userCreate'}">
                <h2 class="">Create user <i class="fa fa-plus-circle" aria-hidden="true"></i></h2>
              </router-link>
            </div>
          </span>
        </infinite-loading>
      </div>
    </div>
    <transition name="scroll">
      <div v-if="userSelected !== ''" class="user-details col-lg-12">
        <gm-user-view :user="userSelected" @clearUserSelected="userSelected = $event"></gm-user-view>
      </div>
    </transition>
  </div>
</template>

<script>
  import InfiniteLoading from 'vue-infinite-loading';
  import UserView from './UserView.vue';
  import User from './User.vue';

  export default {
    data() {
      return {
        users: [],
        noMoreUsers: false,
        usersAtOnce: 10,
        userSelected: '',
        scrollPosition: 0
      }
    },
    components: {
      InfiniteLoading,
      'gm-user-view': UserView,
      'gm-user': User
    },
    computed: {
      usersCount() {
        return this.users.length;
      },
    },
    created() {
      this.loadUsers();
      window.addEventListener('scroll', this.getScroll);
    },
    methods: {
      getScroll() {
        this.scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
      },
      loadUsers() {
        if (!this.noMoreUsers) {
          this.$http.get('users?_start='+this.usersCount+'&_limit='+this.usersAtOnce)
          .then(response => {
            if (response.body.length === 0) {
              this.noMoreUsers = true;
              this.$refs.Loading.$emit('$InfiniteLoading:complete');
            };
            return response.json();
          })
          .then(users => {
            const receivedUsers = [];
            for (let user in users) {
              receivedUsers.push(users[user]);
            }
            this.users = this.users.concat(receivedUsers);
            this.$refs.Loading.$emit('$InfiniteLoading:loaded');
          });
        }
      },
    }
  }
</script>

<style lang="scss">

$trans: all .4s ease;

.scroll-enter-active, .scroll-leave-active {
  transition: $trans;
  transform: translate(0, 0);
}

.scroll-enter, .scroll-leave {
  opacity: 0;
  transform: translate(300px, 0);
}

</style>
