<template>
  <div>
    <transition name="fade">
      <modal @closeModal="closeModal" @confirm="confirm" v-if="modalOpen"></modal>
    </transition>
    <div class="basic-header" :class="scrollPosition > '200' ? 'sticked' : ''">
      <div class="b-h-content">
        <h1 class="main-title">
          <router-link tag="button" class="btn btn-sm btn-primary pull-left" :to="{ name: 'users'}">
            <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back to users
          </router-link>
          User review
        </h1>
      </div>
    </div>
    <div class="page-content-wrapper user-review">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 u-header">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 no-padding u-icon"><img :src="user.gender == 'male' ? maleUrl : femaleUrl "></div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10 ">
          <h2 class="u-t-name">{{ user.name + ' ' + user.surname }}</h2>
          <router-link class="btn btn-sm btn-primary" :to="this.user.id+'/edit'">Edit this user <i class="fa fa-pencil" aria-hidden="true"></i></router-link>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 clearfix u-content">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 u-content-left">
          <p><strong>Age:</strong> {{ user.age }}</p>
          <p><strong>Email:</strong> {{ user.email }}</p>
          <p><strong>Company:</strong> {{ user.company }}</p>
          <p><strong>Age:</strong> {{ user.age }}</p>
          <p><strong>Phone:</strong> {{ user.phone }}</p>
          <p><strong>Address:</strong> {{ user.address.city }}</p>
          <p>{{ user.address.street }}</p>
          <p>{{ user.address.state }}</p>
          <p>{{ user.address.zipcode }}</p>
          <p><strong>Registered</strong> {{ registrated }}</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 u-content-right">
          <p><i class="fa fa-quote-left" aria-hidden="true"></i>{{ user.about }}</p>
        </div>
      </div>
      <div class="col-xs-12 u-footer text-right">
        <button class="btn btn-danger active" @click="modalOpen = true">
          Delete this user <i class="fa fa-user-times" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Modal from '../widgets/Modal.vue';
import { alertEvents } from '../main.js';
import images from '../images.js';
import moment from 'moment';

export default {
  data() {
    return {
      id: this.$route.params.id,
      user: {
        id: '', age: '',
        name: '',
        surname: '',
        gender: '',
        company: '',
        email: '',
        phone: '',
        address: {
          street: '',
          city: '',
          state: '',
          zipcode: ''
        },
        about: '',
        registered: ''
      },
      femaleUrl: images.femaleUrl,
      maleUrl: images.maleUrl,
      modalOpen: false,
      scrollPosition: 0
    }
  },
  components: {
    'modal': Modal
  },
  computed: {
    registrated() {
      let year = this.user.registered.split('T');
      let registrated = moment(year[0]).fromNow();
      return registrated;
    }
  },
  created() {
    this.getUser();
  },
  watch: {
    modalOpen() {
      this.modalOpen ? document.body.classList.add("m-open") : document.body.classList.remove("m-open");
    }
  },
  methods: {
    closeModal() {
      this.modalOpen = false;
    },
    getUser() {
        this.$http.get('users/'+this.id)
        .then(response => {
          return response.json();
        }, error => {
          this.$router.push({ name: '404' })
          alertEvents.$emit('alertCalled', 'Sorry,', error.statusText);
        })
        .then(user => {
          this.user = user;
        });
    },
    confirm() {
      this.$http.delete('users/'+this.id)
        .then(response => {
          document.body.classList.remove("m-open");
          this.$router.push({ name: 'users' });
          alertEvents.$emit('alertCalled', 'Deleted', 'User "'+this.user.name+'" succesfully deleted', 3000);
        }, error => {
          this.$router.push({ name: '404' });
          alertEvents.$emit('alertCalled', 'Sorry', error.statusText);
        });
    }
  }
}
</script>

<style lang="scss">

$trans: all .4s ease;

.fade-enter-active, .fade-leave-active {
  transition: $trans;
  // transform: translate(0, 0);
}

.fade-enter, .scroll-leave-to {
  opacity: 0;
  // transform: translate(300px, 0);
}

</style>
