<template>
  <div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><button class="close-btn" @click="closeUser">x</button></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 u-header">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-padding u-icon"><img :src="user.gender == 'male' ? maleUrl : femaleUrl "></div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 ">
        <h2 class="u-t-name">{{ user.name + ' ' + user.surname }}</h2>
        <h5 class="u-t-email">{{ user.email }}</h5>
        <router-link class="btn btn-sm btn-primary" :to="{ name: 'userEdit', params: { id: user.id }}">
          Edit this user <i class="fa fa-pencil" aria-hidden="true"></i>
        </router-link>
      </div>
    </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 u-content">
        <p><strong>Age:</strong> {{ user.age }}</p>
        <p><strong>Company:</strong> {{ user.company }}</p>
        <p><strong>Phone:</strong> {{ user.phone }}</p>
        <p><strong>Address:</strong> {{ user.address.street + ', ' + user.address.city + ', ' + user.address.state + ', ' + user.address.zipcode}}</p>
        <p><strong>About:</strong> {{ user.about }}</p>
        <p><strong>Registered:</strong> {{ registrated }}</p>
      </div>
      <div class="col-xs-12 text-center">
        <router-link class="btn btn-sm active btn-primary" :to="{ name: 'userViewPage', params: { id: user.id }}">
          Review users page <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </router-link>
      </div>
  </div>
</template>

<script>
  import images from '../images.js';
  import moment from 'moment';

  export default {
    props: {
      user: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        femaleUrl: images.femaleUrl,
        maleUrl: images.maleUrl
      }
    },
    computed: {
      registrated() {
        let year = this.user.registered.split('T');
        let registrated = moment(year[0]).fromNow();
        return registrated;
      }
    },
    methods: {
      closeUser() {
        this.$emit('clearUserSelected', '');
      }
    }
  }
</script>
tosuccess8
