<template>
  <div class="user col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="u-header col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="u-icon col-xs-12 col-sm-3 col-md-3 col-lg-3"><img :src="user.gender == 'male' ? maleUrl : femaleUrl "></div>
      <div class="u-title col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <h2 class="u-t-name">{{ user.name + ' ' + user.surname}}</h2>
        <h5 class="u-t-email"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{ user.email }}</h5>
      </div>
    </div>
    <div class="u-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <p>{{ aboutSubstr }}</p>
    </div>
    <div class="u-footer col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button @click="changeUser" class="btn btn-primary">
        View profile <i class="fa fa-hand-o-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</template>

<script>
  import images from '../images.js';

  export default {
    props: ['user'],
    data() {
      return {
        userGender: this.user.gender,
        femaleUrl: images.femaleUrl,
        maleUrl: images.maleUrl
      }
    },
    computed: {
      aboutSubstr() {
        return this.user.about.substr(0, 220)+'...';
      }
    },
    methods: {
      changeUser() {
        this.$emit('changeSelected', this.user)
      }
    }
  }
</script>
