@charset "UTF-8";

//  Created on : Feb 18, 2017, 16:20
//  Author     : GieMik8

/* ---------------------- Animations ---------------------------------------- */

@keyframes appear-to-bottom {
    0%      { opacity: 0; transform: translate(0, -15px); }
    100%    { opacity: 1; transform: translate(0, 0); }
}

@keyframes appear-to-top {
    0%      { opacity: 0; transform: translate(0, 15px); }
    100%    { opacity: 1; transform: translate(0, 0); }
}

@keyframes appear {
    0%      { opacity: 0; }
    100%    { opacity: 1; }
}
