@charset "UTF-8";

//  Created on : Feb 18, 2017, 16:20
//  Author     : GieMik8

/* -------------------------- Components style ------------------------------ */

.users-list-page {
  width: 100%;
  transition: $trans;

  &.user-details-open {
    transition: $trans;

    @include laptop-sm {
      width: calc(100% - 450px);
    }
  }
}

.users-list {
  width: $containerWidth;
  max-width: 100%;
  margin: auto;
  padding: 0 50px;
  float: none;
  transition: $trans;
  margin-top: 100px;

  @include mobile-sm {
    padding: 0;
  }

  .user-details-open & {
    @include under-laptop-sm {
      width: 100%;
      display: none;
    }
  }
}

.user-details {
  background-color: $F;
  width: $containerWidth;
  height: 100%;
  padding: 20px 50px;
  overflow-y: auto;
  position: relative;
  max-width: 100%;
  margin: auto;

  @include mobile-sm {
    padding: 20px 0;
  }

  @include laptop-sm {
    position: fixed;
    right: 0;
    top: 0;
    width: 450px;
    border-left: solid 1px $grey;
  }
}

.user {
  border-bottom: solid 1px $grey;
  @include clearfix;
  margin: 40px 0;

  &:hover {
    background-color: darken($F, 2%);
    transition: $trans;
  }
}

.u-header {
  margin: 15px 0;

  @include mobile {
    text-align: center;
  }

  .user-review & {
    border-bottom: solid 1px $grey;
    padding-bottom: 20px;
  }
}

.u-icon {
  vertical-align: top;

  img {
    width: 100px;
    // height: 100px;
    margin: auto;
  }
}

.u-title {
  vertical-align: top;
}

.u-t-name {
  color: $darkGrey;
  font-weight: 600;
}

.u-t-email {
  color: $darkGrey;
}

.u-content {
  @include clearfix;
  margin: 15px 0;

  p {
    word-break: break-all;
  }
}

.u-content-left {
  @include tablet-sm {
    border-right: solid 1px $grey;
  }
}

.u-content-right {
  @include mobile {
    margin: 20px 0;
  }

  .fa-quote-left {
    font-size: 50px;
    padding: 0 10px 10px 0;
    float: left;
    color: $darkGrey;
  }
}

.u-footer {
  margin: 15px 0;
  @include clearfix;
  text-align: right;

  @include mobile {
    text-align: center;
  }
}

.modal-curtain {
  background-color: rgba($B, .4);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.custom-modal {
  background-color: $F;
  z-index: 100;
  @include center-vertically;
  position: fixed;
  border: solid 1px $grey;
  box-shadow: 0 0 50px rgba($B, .1);
  border-radius: 5px;
  width: 550px;
  max-width: 90%;
  text-align: center;

  .modal-header {
    border: none;
  }

  .modal-footer {
    border: none;
    text-align: center;
  }
}

.alert {
  @include center-vertically;
  position: fixed;
  z-index: 50;
  position: fixed;
  background-color: $F;
  z-index: 50;
  border: none;
  padding: 20px 40px;
  max-width: 90%;
  min-width: 500px;
  margin: 0;
  box-shadow: 0 0 25px rgba($B, .3);
  border: solid 1px $grey;
  animation: appear .3s ease;
  color: $darkGrey;

  &.alert-success {
    box-shadow: 0 0 25px rgba($green, .3);
    color: $green;
  }

  .close {
    margin-left: 10px;
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .alert-title {
    text-align: center;

    h2 {
      margin-top: 0;
    }
  }

  .alert-content {
    text-align: center;
  }
}
