@charset "UTF-8";

//  Created on : Feb 18, 2017, 16:20
//  Author     : GieMik8

body {
  &.m-open {
    overflow: hidden;
    padding-right: 15px;
  }
}

.no-padding {
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.basic-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 22%;
  background-color: rgba($F, .8);
  margin: 0;
  transition: $trans;
  z-index: 10;

  @include mobile {
    padding: 15px;
    border-bottom: solid 1px $grey;
  }

  .btn.pull-left,
  .btn.pull-right {
    @include mobile {
      clear: both;
      float: none !important;
      display: block;
      margin-right: auto !important;
      margin-left: auto !important;
      margin-bottom: 5px;
    }
  }

  .btn.pull-left {
    margin-right: 20px;
  }

  .btn.pull-right {
    margin-left: 20px;
  }

  .user-details-open & {
    padding-left: 50px;
    padding-right: 50px;
    width: calc(100% - 450px);
  }

  &.sticked {
    // animation: appear-to-bottom .2s ease-out;
    border-bottom: solid 1px $grey;
  }

  .b-h-content {
    width: 800px;
    margin: auto;
    padding: 0 50px;
    max-width: 100%;

    .m-open & {
      padding-left: 47px; // Small fix; TODO: fix layout;
    }
  }

  .user-details-open & {
    @include under-laptop-sm {
      display: none;
    }
  }
}

.main-title {
  font-weight: 300;

  @include mobile {
    text-align: center;
    margin: 0;
  }
}

.user-details-open {
  .basic-header.sticked {
    padding-left: 50px;
    padding-right: 50px;
    width: calc(100% - 450px);
    transition: $trans;
  }
}

.page-content-wrapper {
  margin: 150px auto;
  width: $containerWidth;
  max-width: 100%;
  padding: 0 20px;
  @include clearfix;
}

.btn {
  background-color: transparent;
  color: $B;
  border-color: $grey;
  transition: $btn-trans;
  min-width: 100px;

  &:focus {
    box-shadow: none;
    outline: none;
  }

  &:hover {
    transition: $btn-trans;
    // box-shadow: 0 2px 5px rgba($dark, .2);
  }

  &.btn-danger {
    &:hover {
      background-color: $red;
      color: $F;
      border-color: $red;
    }
  }

  &.btn-danger.active {
    background-color: $red;
    box-shadow: none;
    border-color: $red;

    &:hover {
      background-color: darken($red, 10%);
      color: $F;
      border-color: darken($red, 10%);
    }
  }

  &.btn-success {
    &:hover {
      background-color: $green;
      color: $F;
      border-color: $green;
    }
  }

  &.btn-success.active {
    background-color: $green;
    box-shadow: none;
    border-color: $green;

    &:hover {
      background-color: darken($green, 10%);
      color: $F;
      border-color: darken($green, 10%);
    }
  }

  &.btn-primary {
      &:hover {
        background-color: $blue;
        color: $F;
        border-color: $blue;
      }
  }

  &.btn-primary.active {
    background-color: $blue;
    box-shadow: none;
    border-color: $blue;

    &:hover {
      background-color: darken($blue, 10%);
      color: $F;
      border-color: darken($blue, 10%);
    }
  }

  &.btn-default {
    &:hover {
      background-color: $grey;
      border-color: $grey;
    }
  }
}

.no-more-users {
  margin: 50px 0 100px;
}

.close-btn {
  border: none;
  background: transparent;
  font-size: 34px;
  color: $darkGrey;
  font-weight: 200;
  font-family: sans-serif;
  transition: $btn-trans;

  &:hover {
    text-shadow: 0 0 3px rgba($B, .5);
    transition: $btn-trans;
  }

  &:focus {
    outline: none;
  }
}

.page-title {
  margin: 40px 0;
  color: $darkGrey;

  @include mobile {
    text-align: center;
  }
}

.form-group.required {
  .control-label {
    &:after {
      content: " *";
      color: $red;
    }
  }
}

.error-notify {
  margin-top: 150px;
  color: $darkGrey;
  text-align: center;
}
