@charset "UTF-8";

//  Created on : Feb 18, 2017, 16:20
//  Author     : GieMik8

// --------------------------- Media breakpoints -------------------------------

$mobile-sm-width: 320px;    // Bootstrap col-xs starts here
$mobile-lg-width: 500px;
$tablet-sm-width: 768px;    // Bootstrap col-sm starts here
$tablet-lg-width: 992px;    // Bootstrap col-md starts here
$laptop-sm-width: 1200px;   // Bootstrap col-lg starts here
$laptop-lg-width: 1350px;
$desktop-sm-width: 1600px;
$desktop-lg-width: 1900px;
$wide-width: 2500px;

// --------------------------- Media mixins ------------------------------------

// Screen width {320px - 499px}
@mixin mobile-sm {
  @media (min-width: #{$mobile-sm-width}) and (max-width: #{$mobile-lg-width - 1px}) {
    @content;
  }
}
// Example: @include mobile-sm {};


// Screen width {500px - 767px}
@mixin mobile-lg {
  @media (min-width: #{$mobile-lg-width}) and (max-width: #{$tablet-sm-width - 1px}) {
    @content;
  }
}
// Example: @include mobile-lg {};


// Screen width {320px - 767px}
@mixin mobile {
  @media (min-width: #{$mobile-sm-width}) and (max-width: #{$tablet-sm-width - 1px}) {
    @content;
  }
}
// Example: @include mobile {};


// Screen width { > 768px}
@mixin tablet-sm {
  @media (min-width: #{$tablet-sm-width}) {
    @content;
  }
}
// Example: @include tablet-sm {};


// Screen width { < 992px}
@mixin under-tablet-lg {
  @media (max-width: #{$tablet-lg-width - 1px}) {
    @content;
  }
}
// Example: @include under-tablet-lg {};


// Screen width { > 992px}
@mixin tablet-lg {
  @media (min-width: #{$tablet-lg-width}) {
    @content;
  }
}
// Example: @include tablet-lg {};


// Screen width {768px - 1199px}
@mixin tablet {
  @media (min-width: #{$tablet-sm-width}) and (max-width: #{$laptop-sm-width - 1px})  {
    @content;
  }
}
// Example: @include tablet {};


// Screen width { < 1200px}
@mixin under-laptop-sm {
  @media (max-width: #{$laptop-sm-width - 1px}) {
    @content;
  }
}
// Example: @include under-laptop-sm {};


// Screen width { > 1200px}
@mixin laptop-sm {
    @media (min-width: #{$laptop-sm-width})  {
        @content;
    }
}
// Example: @include laptop-sm {};


// Screen width { > 1370px}
@mixin laptop-lg {
    @media (min-width: #{$laptop-lg-width}) {
        @content;
    }
}
// Example: @include laptop-lg {};


// Screen width {1200px - 1599px}
@mixin laptop {
    @media (min-width: #{$laptop-sm-width}) and (max-width: #{$desktop-sm-width - 1px}) {
        @content;
    }
}
// Example: @include laptop {};


// Screen width {> 1600px}
@mixin desktop-sm {
    @media (min-width: #{$desktop-sm-width}) {
        @content;
    }
}
// Example: @include desktop-sm {};


// Screen width { > 1900px}
@mixin desktop-lg {
    @media (min-width: #{$desktop-lg-width}) {
        @content;
    }
}
// Example: @include desktop-lg {};


// Screen width {1600px - 2499px}
@mixin desktop {
    @media (min-width: #{$desktop-sm-width}) and (max-width: #{$wide - 1px}) {
        @content;
    }
}
// Example: @include desktop {};


// Screen width { > 2500}
@mixin wide {
    @media (min-width: #{$wide-width}) {
        @content;
    }
}
// Example: @include wide {};

@mixin media-max-height($maxHeight) {
    @media (max-height: $maxHeight) {
        @content;
    }
}
