@charset "UTF-8";

//  Created on : Feb 18, 2017, 16:20
//  Author     : GieMik8

// -------------------------------- Mixins -------------------------------------

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
//  @include clearfix;

@mixin border-top-radius($radius) {
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
    background-clip: padding-box;
}
//  @include border-top-radius(5px)

@mixin border-right-radius($radius) {
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
    background-clip: padding-box;
}
//  @include border-right-radius(5px)

@mixin border-bottom-radius($radius) {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
    background-clip: padding-box;
}
//  @include border-bottom-radius(5px)

@mixin border-left-radius($radius) {
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
    background-clip: padding-box;
}
//  @include border-left-radius(5px)

@mixin font-size($sizeValue: 16 ){
    font-size: $sizeValue + px; //fallback for old browsers
    font-size: (0.0625 * $sizeValue) + rem;
}
//  @include font-size(16);

@mixin line-height($lineValue: 16) {
    line-height: $lineValue + px;
    line-height: (0.0625 * $lineValue) + rem;
}
//  @include line-height(24);

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
//  @include center-block;

@mixin center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
//  @include center-vertically;

@mixin ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
