@charset "UTF-8";

//  Created on : Feb 18, 2017, 16:20
//  Author     : GieMik8

// ------------------------------ Variables ------------------------------------

$F : #FFF;

$B : #000;

$grey: darken($F, 10%);

$darkGrey: lighten($B, 40%);

$dark: #130F1C;

$green: #44BBA4;

$red: #E94F37;

$blue: #3F88C5;

$trans: all .4s ease;

$btn-trans: all .2s ease;

$containerWidth: 800px;
