<template>
  <div class="text-center">
    <h1 class="error-notify">This is error page</h1>
    <router-link tag="a" class="btn btn-sm btn-primary" :to="{ name: 'users'}">
      <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back to users
    </router-link>
  </div>
</template>
