<template>
  <div>
    <transition name="fade" mode="out-in">
      <alert></alert>
    </transition>
    <transition name="fade" mode="out-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
  import Alert from './widgets/Alert.vue';
  import { alertEvents } from './main.js';

  export default {
    components: {
      'alert': Alert
    }
  }
</script>

<style lang="scss">
  .fade-enter-active, .fade-leave-active {
  transition: opacity 1s
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
  }
</style>
