<template>
  <div v-if="active" class="alert">
    <a href="#" class="close" @click="closeAlert">&times;</a>
    <div class="alert-title">
      <h2>{{ title }}</h2>
    </div>
    <div class="alert-content">
      <p>{{ content }}</p>
    </div>
  </div>
</template>
<script>
  import { alertEvents } from '../main.js';

  export default {
    data() {
      return {
        active: false,
        title: '',
        content: '',
        duration: ''
      }
    },
    methods: {
      closeAlert() {
        this.active = false;
        this.title = '';
        this.content = '';
        this.duration = 0;
      },
      showAlert(title = 'Default title', content = 'Default content', duration = 3000) {
        this.active = true;
        this.title = title;
        this.content = content;

        setTimeout(() => {
          this.active = false;
          this.title = '';
          this.content = '';
        }, duration);
      }
    },
    created() {
      alertEvents.$on('alertCalled', this.showAlert);
    }
  }
</script>
